#gameboard {
    width: 640px;
    height: 640px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: relative;
    z-index: -10;
}

path {
    position: relative;
    z-index: -11;
}

.piece {
    position: relative;
    z-index: 10;
}

.beige {
    background-color: beige;
}

.brown {
    background-color: brown;
}

.black {
    fill: black;
}

.white {
    fill: white;
    stroke: black;
    stroke-width: 10px;
}